.swipeButtons {
  /* An element with position: fixed; is positioned relative to the viewport/window, which means it always stays in the same place even if the page is scrolled. */
  position: fixed;
  bottom: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

/* .MuiIconButton-root is special class material ui gives to acces all the butons */
.swipeButtons .MuiIconButton-root {
  background-color: white;
  /* important! overrides material ui default */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.swipeButtons__repeat {
  /* padding: 3vw allows for resposivenss. without 3vw the buttons are distorted */
  padding: 3vw !important;
  color: #f5b748 !important;
}

.swipeButtons__left {
  padding: 3vw !important;
  color: #ec5e6f !important;
}

.swipeButtons__star {
  padding: 3vw !important;
  color: #62b4f9 !important;
}

.swipeButtons__right {
  padding: 3vw !important;
  color: #24e3ac !important;
}

.swipeButtons__lighting {
  padding: 3vw !important;
  color: #b69bd5 !important;
}
